@import "./mixin";
@import "./variables";
@import "./reset";
@import "./body"; 
@import "./footer";

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');



.bg-beige{
    background-color:map-get($colores, "color-nav" ) ;
} 


/* styles quienes somos */

.parrafos-qs{
    padding: 30px;
}
.h2-info{
    color: rgb(180, 4, 4)
}
.iframe-qs{
    @include sizes(600px, 450px);
}
/* Styles medios de pago */

.title-mp{
    margin-top: 100px;
    margin-bottom: 50px;
}

.imagen-mp{
margin-top: 50px;
border-radius: 10px;

}

@media screen and (max-width:990px){
    .bg-beige{
        background-color:  map-get($colores, "color-nav" );
        }

    .footer{
        background-color: map-get($colores, "color-footer" );
        
    }
    }

@media screen and (max-width:768px){
.bg-beige{
    background-color:  map-get($colores, "color-nav" );
    }

.footer{
    background-color: map-get($colores, "color-footer" );
    
}
}

@media screen and (min-width:480px)and(max-width:620px){
.bg-beige{
    background-color:  map-get($colores , "color-mq-mobile" );
    
    }
body{
    background-color: black;
}
.img-carousel{
    margin-top: 20px;
    width: 400px;
    height: 350px;
}
.img-carousel-qs{
    margin-top: 20px;
    width: 400px;
    height: 250px;
}
.iframe-qs{
    @include sizes(350px, 300px);
}
#marcas img{
    width: 50px;
    height: 50px;

}
.imagen-mp{
    width: 280px;
    height: 150;
}
.logo-redes{
    font-size: 15px;

}
.footer{
   flex-direction: row-reverse;
    background-color:map-get($colores , "color-mq-mobiled" ); 
}
.footer-redes{
    width: 150px;
}
.btn-outline-secondary {
    margin-left: 30px; 
}
}