@import "./mixin";
@import "./variables";
@import "./reset";
@import "./body"; 
@import "./footer";

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');



.bg-beige{
    background-color:map-get($colores, "color-nav" ) ;
} 


/* styles quienes somos */

.parrafos-qs{
    padding: 30px;
}

/* Styles medios de pago */

.title-mp{
    margin-top: 100px;
    margin-bottom: 50px;
}

.imagen-mp{
margin-top: 50px;
border-radius: 10px;

}

@media screen and (max-width:990px){
    .bg-beige{
        background-color:  map-get($colores, "color-nav" );
        }
    .img-carousel{
        margin-top: 30px;
        margin-left: 150px;
        @include sizes(550px, 450px);
    }
    .footer{
        background-color: map-get($colores, "color-footer" );
        
    }
    }

@media screen and (max-width:768px){
.bg-beige{
    background-color:  map-get($colores, "color-nav" );
    }
.img-carousel{
    margin-top: 30px;
    margin-left: 150px;
    @include sizes(450px, 350px);
}
.footer{
    background-color: map-get($colores, "color-footer" );
    
}
}

@media screen and (max-width:480px){
.bg-beige{
    background-color:  map-get($colores , "color-mq-mobile" );
    }
.img-carousel{
    margin-top: 30px;
    margin-left: 5%;
    width: 380px;
    height: 330px;
}

#cards{
 padding-left: 15%;
}

#marcas img{
    width: 50px;
    height: 50px;

}
.imagen-mp{
    width: 280px;
    height: 150;
}
.logo-redes{
    font-size: 15px;

}
.footer{
   flex-direction: row-reverse;
    background-color:map-get($colores , "color-mq-mobiled" ); 
}
.footer-redes{
    width: 150px;
}
.btn-outline-secondary {
    margin-left: 30px; 
}
}