@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arima', cursive;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 42%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

.bg-beige{
    background-color:map-get($colores, "color-nav" ) ;
}
.img-carousel{
    width: 802px;
    height: 525px;
    margin-left: 280px; 
}

.card img{
    width: 255px;
    height: 200px;

}

.lista {
        li{
            list-style-type: none;
        }
}


.bi-instagram{
    color: #cc2366;
}
 .bi-whatsapp{
    color: rgb(13, 199, 13);
 }

 .btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    transition: height 2s, width 1s;
        &:hover{
            width: 100px;
            height: 100px;
        }

}

footer{
    background-color: map-get($colores , "color-footer" );
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    ul{
        li{
         list-style-type: none;
            a{
            text-decoration: none;
            color: #000000;
            font-size: medium;
            white-space: 400px;
            display: flex;
            flex-direction: column; 
            }
        }
    } 
    
}

.footer-redes{
    text-align: center;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.logo-redes{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* styles quienes somos */

.parrafos-qs{
    padding: 30px;
}

/* Styles medios de pago */

.title-mp{
    margin-top: 100px;
    margin-bottom: 50px;
}

.imagen-mp{
margin-top: 50px;
border-radius: 10px;

}



@media screen and (max-width:768px)and (min-width:500px){
.bg-beige{
    background-color:  map-get($colores, "color-nav" );
    }
.img-carousel{
    margin-top: 30px;
    margin-left: 150px;
    width: 450px;
    height: 350px;
    }

.footer{
    background-color: map-get($colores, "color-footer" ) ;
    }
}


@media screen and (max-width:500px){
.bg-beige{
    background-color:  map-get($colores , "color-mq-mobile" );
    }
.img-carousel{
    margin-top: 30px;
    margin-left: 5%;
    width: 400px;
    height: 350px;
}

#marcas img{
    width: 50px;
    height: 50px;

}
.imagen-mp{
    width: 280px;
height: 150;
}
.logo-redes{
    font-size: 15px;
}
.footer{
    background-color:map-get($colores , "color-mq-mobiled" ); 
}
.btn-outline-secondary{
    margin-left: 30px;
}
}